

/*FORM*/
.form-wrapper{
    background: var(--grdWhite);
    max-width: 75%;
}
.info p, .box p{
    color: var(--mainBlack);
    margin-top: 0.2rem;
    font-weight: 0;

}

.about, .experience, .education , .skills, .interests{
    width: 100%;
    flex: 1;
    padding: 5vw 10vw;
}

h1{
    font-size: 4rem;
    letter-spacing: 5px;
    font-family: 'Oswald', sans-serif;
    color: var(--mainBlack);
    text-transform: uppercase;
}
.info h5{
    font-size: 1rem;
}
.info p{
    margin-top: 3rem;
}

h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color:var(--mainBlack)
}
h3{
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: var(--mainGrey);
    margin-bottom: 2rem;
    font-family: 'Oswald', sans-serif;
}
.box{
    margin-top: 1rem;
}
h4{
    font-size: 1.5rem;
    color: rgb(104, 103, 103);
    font-family: 'Oswald', sans-serif;
}
h5{
    font-family: 'Oswald', sans-serif;
    color: var(--mainRed);
}

.contact{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.icon{
    padding: 1rem;
    border-radius: 50%;
    background-color:var(--mainGrey);
    transition: 0.5s ease;
}

.icon:hover{
    background-color: var(--mainRed);
}

.contact-icon i{
    font-size: 2rem;
    color: var(--mainWhite)
}
.skills{
    display: flex;
    flex-direction: column;
}
.skills-icon{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.skills-icon i{
    color: var(--mainRed);
    font-size: 4rem;
}


@media screen and (max-width: 600px) {
    .form-wrapper{
        max-width: 70%;
    }

    .about, .experience, .education , .skills, .interests{
        padding: 2vw 5vw;
    }
    h4, .info .box h5, .skills-icon i, .contact-icon i{
      font-size: inherit;
    }

    h2{
        font-size: 1.3rem;
    }

    .info h5{
        font-size: 12px;
    }
  }
  