.switch{
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
    border: 3px solid var(--mainWhite);
    border-radius: 10px;
}

button{
    width: 50%;
    border: none;
    font-weight: bold;
    padding: 7% 10%;
    text-transform: uppercase;
    cursor: pointer;
}
.on{
    background: var(--mainWhite);
    height: inherit;
    color: var(--mainBlack);
}

.off{
    background: transparent;
    color: var(--mainWhite);
}


@media screen and (max-width: 600px) {
    .switch{
        width: 70%;
    }
    .on, .off {
        font-size: 5px;
        height: 1.6rem;
    }
  }