/*NAV*/
.nav{
    flex-basis: 25%;
    max-height: 100vh;
    background-color: rgb(15, 10, 10);
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 3rem;
    position: sticky;
    top: 0;
}
.photo{
    display: flex;
    flex: 1.5;
}
.photo img{
    width: 175px;
    border-radius: 50%;
    border: 7px solid rgb(94, 85, 85);
    margin: auto;
}
.links{
    padding: 0;
    flex: 4;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 3rem;
}
li{
    list-style: none;
    margin: auto;
}
.link a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 2.5rem 2rem;
}