/*NAV*/

.nav{
    flex-basis: 25%;
    max-height: 100vh;
    background: var(--grdBlack);
    display: flex;
    flex-direction: column;
    color: var(--mainWhite);
    padding-top: 3rem;
    position: sticky;
    top: 0;
    border-right: 7px solid var(--mainRed);
}
.photo{
    display: flex;
    flex: 1.5;
}
.photo img{
    width: 50%;
    border-radius: 50%;
    border: 0.5rem solid var(--mainGrey);
    margin: auto;
}
.links{
    padding: 0;
    flex: 4;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10vh;
}
li{
    list-style: none;
    margin: auto;
}
.link a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: var(--mainWhite);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.link a:hover{
    color: var(--mainGrey);

}


@media screen and (max-width: 600px) {

    nav{
        max-width: 30%;
    }
    .links{
        margin-bottom: 10vh;
    }
    .link a {
        font-size: 0.5rem;
    }
    .photo img{
        border: 0.2rem;
    }
    .photo{
        width: 30vw
    }
  }
